.card-item {
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 20px;
}

.card-item:hover {
  transform: scale(105%);
  transition: all 0.3s;
}

.card-top {
  height: 300px;
}

.card-top img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.card-bottom {
  padding: 20px;
}

.card-info {
  color: var(--font-primary);
}

.card-info h4 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}
